body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #fbddfc;
}

.title01,.title02 {
    color: #8a0568;
    margin: 20px;
}

.title02 {
    border: 6px solid #fff;
    background-color: #fff;
    padding: 5px;
}

.paragraph {
    border: 6px solid #8a0568;
    padding: 5px;
    margin-bottom: 25px;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: #ece5eb;
    background-color: #825d83;
    border: 2px solid #825d83;
    border-radius: 12px;
    margin: 20px;
    padding: 12px;
}

.order-list{
    margin: 40px;
    padding: 40px;
    text-align: left;
    background-color: #8a0568;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    max-width: 400px;
}

.simple-list{
    margin: 40px;
    padding: 40px;
    text-align: left;
    background-color: #825d83;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    max-width: 400px;
}